 * {
     margin: 0;
     padding: 0;
 }

 H1 {
     text-align: center;
     color: rgb(243, 8, 8);

 }

 body {
     background-color: rgb(0, 0, 12);
 }

 .d-block {

     width: 50px;
     height: 1000px;
 }


 .footer {
     text-align: center;
     background-color: rgb(251, 251, 253);
     padding: 5px;
     margin: auto;
     margin-top: 220px;
 }

 .form-label {
     color: blanchedalmond;
 }

 .footer img {
     width: 50px;
     max-height: 70px;
     display: grid;
     align-items: center;

 }

 li a {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif font-size: 30px;


     text-decoration: none;
     color: rgb(252, 10, 10);



 }

 li {


     list-style-type: none;
 }

 .parrafo {
     text-align: center;
     color: crimson;
 }


 .btn btn-primary {
     color: crimson;
 }


 #galeria img {
     width: 100%;
     height: 200px;
 }

 #galeria .col-lg-4 {
     margin: 0 !important;
     padding: 25px;

 }

 #galeria img:hover {

     border: 5px solid white;
 }


 #video iframe {
     margin: 1em;
     padding: 1em;
     width: 100%;
     

     #video .col-lg-4 {
         margin: 50px !important;
         padding: 50px;
         align-items: center;
         justify-content: center;
     }

     #galeria iframe:hover {

         border: 5px solid white;
     }







     .buttons {
         min-width: 700px;
         display: flex;
         justify-content: space-around;
     }

     .buttons a {
         text-decoration: none;
         font-size: 28px;
         width: 60px;
         height: 60px;
         line-height: 60px;
         text-align: center;
         background: #314652;
         color: #f1f1f1;
         border-radius: 50%;
         box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
         transition: all .4s ease-in-out;
     }

     .buttons a:hover {
         transform: scale(1.2);
     }

     img {
         display: block;
         margin: 0 auto;
     }

     .container{
        background-color: black;
     }








    .titulomusic {
        background-color:white ;
        color:white;
    }
   
ul li a {
    background-color: blue;
    color: crimson;
}


.footer-galeria{
    margin-top: 220px;
}




